.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}

.dragitem {
	border:1px solid #cccccc;
	padding:5px;
	transform: translate(6px, -4px);
    display: inline-block;
    border: 1px solid #e91e63;
    background-color: #e91e63;
    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 4px;
    width:35px;
    cursor:pointer;

}
.react-draggable {
	border:1px solid #cccccc;
	padding:5px;

    transform: translate(6px, -4px);
    display: inline-block;
    border: 1px solid rgb(255, 0, 156);
    background-color: rgb(255, 0, 227);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 4px;
}
.test {
	border:1px solid #cccccc;
	padding:5px;
	transform: translate(6px, -4px);
    display: inline-block;
    border: 1px solid rgb(255, 0, 156);
    background-color: rgb(255, 0, 227);
    color: rgb(255, 255, 255);
    border-radius: 50%;
    padding: 4px;
}

table tr td {
	padding:8px; 
    border: 1px solid #cccccc;
    width: 50px;
}

